  
<div class="card" style="width: 18rem;">
  <img src="https://cdn.britannica.com/70/234870-050-D4D024BB/Orange-colored-cat-yawns-displaying-teeth.jpg" class="card-img-top" alt="...">

  <div>
    <div><%= current_user.username %></div>
  </div>

  <div class="card-body">
    <p class="card-text">Followers</p>
    <p class="card-text"><%= current_user.follower.count %></p>
  </div>
  <div class="card-body">
    <p class="card-text">Pending</p>
    <p class="card-text"><%= current_user.pending.count %></p>
  </div>
  <div class="card-body">
    <p class="card-text">Following</p>
    <p class="card-text"><%= current_user.following.count %></p>
  </div>

  <% @photos.each do |post| %>
    <div class="card" style="width: 18rem;">
      <img src="<%= post.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><%= post.caption %></p>
      </div>
    </div>
  <% end %>
