<div class="d-flex row mb-4">
  <div class="col-md-6 offset-3">
    <h1><%= @user.username %></h1>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row nav-link">
        <div><%= link_to "Followers", follow_requests_path(@user.username) %></div>
      </div>
      <div class="d-flex flex-row nav-link">
        <div><%= link_to "Following", follow_requests_path(@user.username) %></div>
      </div>
      <div class="d-flex flex-row nav-link">
        <div><%= link_to "Pending", follow_requests_path(@user.username) %></div>
      </div>
      <div class="d-flex flex-row nav-link">
        <div><%= link_to "Posts", user_path(@user.username) %></div>
      </div>
      <div class="d-flex flex-row nav-link">
        <div><%= link_to "Liked photos", liked_path(@user.username) %></div>
      </div>
    </div>

    <div>
      <% @user.liked_photos.each do |photo| %>
        <div class="card mb-3"> <!-- added mb-3 for spacing -->
          <%= image_tag photo.image, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= photo.owner.username %></h5>
            <p class="card-text"><%= photo.caption %></p>
          </div>
          <ul class="list-group list-group-flush">
            <% photo.comments.each do |comment| %>
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img src="..." alt="...">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mt-0"><%= comment.author.username %></h5>
                    <p><%= comment.body %></p>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="card-body">
            <%= render "comments/form", comment: photo.comments.build %>
          </div>
        </div> <!-- moved inside loop to close each card properly -->
      <% end %>
    </div>
  </div>
</div>
